*{
 box-sizing: border-box;
 margin:0;
 padding:0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-container {
    display: flex;
    background-color: slategray;
    justify-content: space-around;

}

.item{
    width: 100px;
    height: 100px;
    background: #254de4;
    color: #ffff;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center
    ;
}